<h1>Add Event</h1>

<form method="post">
    <label for="name">Event Name: </label>
    <input name="name" type="text"/>
    <br>
    <label for="description">Event Description: </label>
    <input name="description" type="text"/>
    <br>
    <input type="submit" value="Add Event"/>
</form>