<h1>Coding Events</h1>

@*@if (ViewBag.events.Count == 0)
{
    <p>No events yet!</p>
}
else
{*@
    <table class="table table-striped table-bordered">
        @*<thead class="thead-dark">*@
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        @*</thead>*@
        @foreach (KeyValuePair<string, string> meeting in ViewBag.events)
        {
            <tr>
                <td>@meeting.Key</td>
                <td>@meeting.Value</td>
            </tr>
        }
     </table>
@*}*@       
    
<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>
