@using CodingEvents.Models

@model List<Tag>

<h1>Event Tags</h1>

<table class="table table-striped table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>

    @foreach (var tag in Model)
    {
        <tr>
            <td>@tag.Id</td>
            <td><a asp-controller="Tag" asp-action="Detail" asp-route-id="@tag.Id">@tag.Name</a></td>
        </tr>
    }

</table>
